{% extends 'buyers/base.html' %}
{% load static %}
{% block title %} index {% endblock %}
{% block body %}
<!-- Modal -->
<div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="w-100 pt-1 mb-5 text-right">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="" method="get" class="modal-content modal-body border-0 p-0">
            <div class="input-group mb-2">
                <input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Search ...">
                <button type="submit" class="input-group-text bg-success text-light">
                    <i class="fa fa-fw fa-search text-white"></i>
                </button>
            </div>
        </form>
    </div>
</div>



<!-- Start Banner Hero -->
<div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
        <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
        <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" src="{% static 'buyers/img/h1.jpg' %}" alt="">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left align-self-center">
                            <h1 class="h1 text-success"><b>SHINE</b> eCommerce</h1>
                            <p>
                                "SHINE Cosmetics – Glow Naturally. Discover premium beauty essentials crafted to
                                highlight your natural radiance. Shop skincare, makeup, and more – all cruelty-free and
                                made with love."

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" src="{% static 'buyers/img/makeup1.jpg' %}" alt="">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left">
                            <h1 class="h1">Unleash your inner glow with SHINE Cosmetics Makeup</h1>

                            <p>

                                Our carefully curated makeup collection is designed to enhance every skin tone and style
                                — from silky foundations and vibrant blushes to dazzling highlighters and eye-catching
                                shadows. Each product is made with skin-loving, cruelty-free ingredients that deliver
                                lasting beauty without compromise. Whether you're creating a bold look or a soft
                                everyday glow, SHINE helps you express yourself with confidence and style.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" src="{% static 'buyers/img/lips.jpg' %}" alt="">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left">
                            <h1 class="h1">Let your lips do the talking with SHINE Cosmetics Lipsticks</h1>
                            <h3 class="h2">Ullamco laboris nisi ut </h3>
                            <p>

                                Our collection features richly pigmented, long-lasting shades that glide on effortlessly
                                and stay put all day. Infused with nourishing ingredients like vitamin E and natural
                                oils, SHINE lipsticks keep your lips soft, smooth, and beautifully bold. From timeless
                                reds to trendy nudes, there’s a perfect shade for every mood and moment — because
                                confidence starts with a swipe
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel"
        role="button" data-bs-slide="prev">
        <i class="fas fa-chevron-left"></i>
    </a>
    <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel"
        role="button" data-bs-slide="next">
        <i class="fas fa-chevron-right"></i>
    </a>
</div>
<!-- End Banner Hero -->


<!-- Start Categories of The Month -->
<section class="container-fluid py-5" style="background-color: #ffe6eb;">
    <div class="container">
        <div class="row text-center pt-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Our Categories</h1>
                <p>
                    Elevate your beauty routine with our carefully curated collection of skincare, makeup, and wellness
                    essentials. Because feeling good starts with looking your best.
                </p>
            </div>
        </div>
        <div class="row">
            <!-- Makeup -->
            <div class="col-12 col-md-4 p-5 mt-3 text-center">
                <a href="{% url 'category_view' 'Makeup' %}">
                    <img src="{% static 'buyers/img/m1.jpg' %}" class="rounded-circle img-fluid border" alt="Makeup">
                </a>
                <h5 class="mt-3 mb-3">Makeup</h5>
                <a href="{% url 'category_view' 'Makeup' %}"
                    style="background-color: #ff69b4; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px; display: inline-block;">
                    Go Shop
                </a>
            </div>


            <!-- Eyes -->
            <div class="col-12 col-md-4 p-5 mt-3 text-center">
                <a href="#"><img src="{% static 'buyers/img/e1.jpg' %}" class="rounded-circle img-fluid border"></a>
                <h5 class="mt-3 mb-3">Eyes</h5>
                <a href="{% url 'category_view' 'Eyes' %}"
                    style="background-color: #ff69b4; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px; display: inline-block;">
                    Go Shop
                </a>
            </div>

            <!-- Nails -->
            <div class="col-12 col-md-4 p-5 mt-3 text-center">
                <a href="#"><img src="{% static 'buyers/img/n1.jpg' %}" class="rounded-circle img-fluid border"></a>
                <h5 class="mt-3 mb-3">Nails</h5>
                <a href="{% url 'category_view' 'Nails' %}"
                    style="background-color: #ff69b4; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px; display: inline-block;">
                    Go Shop
                </a>
            </div>
        </div>
    </div>
</section>
<!-- End Categories of The Month -->



<!-- Start Featured Product -->
<section class="bg-light">
    <div class="container py-5">
        <div class="row text-center py-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Featured Product</h1>
                <p>
                    At SHINE Cosmetics, we believe beauty should never come at the cost of your well-being. Our products
                    are designed to delight your senses without any harsh ingredients. No irritation. No worries. Just
                    clean, conscious beauty that makes you glow naturally.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4 mb-4">
                <div class="card h-100">
                    <a href="shop-single.html">
                        <img src="{% static 'buyers/img/mens.jpg' %}" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <a href="#" class="h2 text-decoration-none text-dark">Men's Care</a>
                        <p class="card-text">
                            "Stay sharp, look fresh. SHINE Men’s Care is arriving soon — skincare and grooming made
                            simple, effective, and powerful."
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-4">
                <div class="card h-100">
                    <a href="#">
                        <img src="{% static 'buyers/img/hair.jpg' %}" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <a href="#" class="h2 text-decoration-none text-dark">Hair Care</a>
                        <p class="card-text">
                            "One care fits all. SHINE Hair Care supports strong, shiny hair for everyone — from morning
                            routines to bedtime stories."
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-4">
                <div class="card h-100">
                    <a href="shop-single.html">
                        <img src="{% static 'buyers/img/skin.jpg' %}" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <a href="#" class="h2 text-decoration-none text-dark">Skin Care</a>
                        <p class="card-text">
                            "Skincare that feels like self-care. Clean, cruelty-free, and made for the whole family — SHINE keeps every skin type happy and healthy."
                        </p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Featured Product -->
{% endblock %}